body {
    background-color: #9a6ca8;
}

.header {
    color: white;
    text-transform: uppercase;
}

.bi {
    color: white;
}

.nav-link {
    padding: .5rem .5rem;
}

h1 {
    font-size: 7vw;
    color: white;
    font-weight: 500;
}

.full-screen {
    height: 100vh;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 14vw;
    }
}